<template>
    <div id="meet" class="h60">
        <vs-row>
            <vs-col offset="1" w="10">
                <h1>Meet Flame</h1>
            </vs-col>

            <vs-col offset="1" w="10">
                <vs-alert dark>
                    <h3>
                        We are currently focused on creating sophisticated high level language with low level execution speed and capabilities.
                        Flame is a modest langauge which with your powerful creativity can create any kind of software you could think of.
                        Welcome to the next level of programming languages. Welcome to the realm of <highlight>Highest Level Languages</highlight>
                    </h3>
                </vs-alert>
            </vs-col>
            <vs-col class="boxroadmap" offset="1" w="10">
            <h1>Roadmap</h1>
            </vs-col>
            <vs-col offset="1" w="10">
                <div id="roadmap"></div>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>

export default {
    mounted(){
        
    }
}
</script>

<style lang="scss" scoped>
    #meet{
        background-color: #fffdfa;
        text-align: center;
        padding: 50px 0;   

        h1{
            font-family: Helvetica;
            color: #b3b3b3;
            font-size: 36pt;
        } 

        .vs-alert{
            width: 60%;
            margin: 30px 0;
            height: auto !important;
            border-radius: 12px;
            left: 50%;
            transform: translateX(-50%);

            &::after{
                width: 0;
            }

            h3{
                font-weight: 500;
                font-size: 18px;
            }

            highlight{
                color: #fc5c00;
                background: linear-gradient(90deg, #ff3000, darkorange);
                background-clip: text;
            }
        }

        .boxroadmap{
            margin-top: 50px;
        }
    }
</style>



<style lang="scss" scoped>
@media (max-width:745px){
    #meet{
        .vs-alert{
            width: 90%;
            h3{
                font-size: 16px;
            }
        }
    }
}
</style>