<template>
    <footer>
        <h1> Copyright 2020. Phoenix Arts. All rights reserved.</h1>
        <img class="phoenixmono" src="/phoenix-logo-mono.svg" alt="">
    </footer>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
    footer{
        width: 100%;
        height: 200px;
        background-color: #222;
        color: #555;
        position: relative;
        overflow: hidden;

        h1{
            position: absolute;
            left: 20px;
            bottom: 20px;
            z-index: 2;
        }

        .phoenixmono{
            height: 250px;
            position: absolute;
            right: 10px;
            bottom: -50px;
            animation: phoenixmono 5s infinite;
            z-index: 1;
        }   
    }

@keyframes phoenixmono {
    0%{
        bottom: -40px;
    }
    50%{
        bottom: -5px;
    }
    100%{
        bottom: -40px;
    }
}
</style>