<template>
    <vs-navbar shadow padding-scroll fixed center-collapsed v-model="active" >
        <template #left>
            <img class="nav_phxlogo" src="/phx-logo.png" alt="">
        </template>
        <vs-navbar-item :active="active == 'home'" to="/" id="home">
            Home
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'about'" padding-scroll="#about" to="/#about" id="about">
            About us
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'flame'" to="/flame" id="flame">
            Flame
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'illiade'" to="illiade" id="illiade">
            Illiade
        </vs-navbar-item>
        <!--
        <template #right>
            <button id="mmenu">
                <div class="line"></div>
            </button>
        </template>
        -->
    </vs-navbar>
</template>

<script>
export default {
    data:() => ({
        active: 'home'
  })
}
</script>

<style lang="scss" scoped>

.vs-navbar-content.paddingScrollActive {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .2);
}

.nav_phxlogo{
    width: 80px;
}

.vs-navbar__item.active{
    color: #F87A02;
}

#mmenu{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: relative;

    .line{
        position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
        height: 3px;
        background-color: black;

        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -250%;
            width: 100%;
            height: 100%;
            background-color: black;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 250%;
            width: 100%;
            height: 100%;
            background-color: black;
        }
    }
}
</style>