<template>
    <div id="about">
        <div class="acontainer">

            <vs-alert shadow gradient>
            <template #title>
                <h1>About us</h1>
            </template>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in dui sapien.
                Aliquam rhoncus ipsum ullamcorper erat gravida bibendum. Mauris egestas eros non vestibulum mollis.
                Ut tempor erat velit, vel placerat arcu gravida vel. Quisque congue molestie libero vel lobortis.
                Suspendisse in facilisis sem. In nec metus eget libero congue pretium sed a ligula. Pellentesque sit amet convallis augue.
            </vs-alert>

            <vs-alert shadow gradient>
                Ut ultricies justo nisl, non pellentesque turpis tincidunt eu. Morbi consectetur id libero sed egestas.
                Cras ultrices neque libero, eu pharetra metus feugiat quis. Morbi in elit feugiat, fringilla sem eget, accumsan velit.
                Maecenas quis aliquam ligula. Nullam a dolor nec sem porttitor tempus. Vestibulum ut volutpat massa, id faucibus arcu.
                Praesent quis nibh at quam viverra efficitur eu eu nunc. Phasellus tortor metus, feugiat vel diam id, placerat fringilla mi.
                Fusce ligula nunc, laoreet id quam ac, efficitur laoreet lacus. Pellentesque ut turpis justo.
                Sed magna augue, pretium eu lacus a, hendrerit interdum turpis. Suspendisse nec vestibulum leo.
                Morbi pharetra, quam non tincidunt convallis, neque ante iaculis eros, vel feugiat neque lectus ut urna.
                Nulla accumsan ante nec dolor congue, a interdum eros pellentesque. Fusce semper dapibus lorem id pellentesque.
            </vs-alert>

            <div class="group_card">

                <vs-card type="4">
                <template #title>
                    <h3>Paweł "Ph0enix" Karaś</h3>
                </template>
                <template #img>
                    <img :src="`/we/pablo.jpg`" alt="">
                </template>
                <template #text>
                    <p style="padding: 0 25px">
                        Wydymany i zestresowany pablo :c Taki smutny jest i zdołowany
                    </p>
                </template>
                 <template #interactions>
                    <vs-button dark icon href='https://github.com/ph0enixkm' blank>
                        <i class='bx bxl-github'></i>
                    </vs-button>
                </template>
                </vs-card>


                <vs-card type="4">
                <template #title>
                    <h3>Patryk "Makoto." Dąbrowski</h3>
                </template>
                <template #img>
                    <img :src="`/we/makoto.jpeg`" alt="">
                </template>
                <template #text>
                    <p>
                        Graphic Designer and FrontEnd Developer. sram ci na buzie :>
                    </p>
                </template>
                 <template #interactions>
                    <vs-button dark icon href='https://github.com/MakotoPD' blank>
                        <i class='bx bxl-github'></i>
                    </vs-button>
                </template>
                </vs-card>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
    #about{
        width: 100%;
        min-height: 100vh;
        background-color: #fffdfa;

        .acontainer{
            width: 60%;
            min-width: 250px;
            height: 100%;
            position: relative;
            left: 20%;
            padding-top: 50px;

            .vs-alert{
                margin-top: 50px;
                height: auto !important;
            }

            .vs-card__group{
                margin-top: 100px;
            }

            .group_card{
                padding: 50px ;

                .vs-card-content{
                    display: inline-flex;
                    margin: 20px;
                    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.219));
                }
            }
        }
    }
</style>


<style lang="scss" scoped>
@media (max-width: 745px){
    #about{

        .acontainer{
            width: 100%;
            min-width: 320px;
            height: 100%;
            position: relative;
            left: unset;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 50px;

            .vs-alert{
                margin-top: 50px;
                height: auto !important;
            }

            .vs-card__group{
                margin-top: 100px;
            }

            .group_card{
                padding: 50px 0;

                .vs-card-content{
                    display: inline-flex;
                    margin: 20 0px;
                }
            }
        }
    }
}
</style>