<template>
    <div id="download" class="h40">
        <vs-row>
            <vs-col offset="1" w="10">
                <h1>Download</h1>
            </vs-col>
            <vs-col offset="1" w="10" class="txt">
                <p>Only For Linux (.deb)</p> 
                <img class="linuximg" src="/linux.svg">
            </vs-col>
            <vs-col offset="1" w="10" class="btn">
                <vs-button gradient size="xl" animation-type="vertical"  href="https://github.com/Ph0enixKM/Illiade/releases/download/1.3.11b/illiade_1.3.11_x64.deb" blank>
                    <p>Pillar</p>
                    <template #animate>
                        <p>1.3.11b</p>
                    </template>
                </vs-button>
            </vs-col>
            <vs-col offset="1" w="10" class="copyandpaste">
                <h1>Or copy and paste</h1>
                <vs-tooltip right primary>
                    <span>(?)</span> 
                    <template #tooltip>
                        This is a script that will install latest Illiade for you.
                        If you happen to use non-debian based distribution - it will happily download (older) .zip file and install it instead
                    </template>
                </vs-tooltip>
            </vs-col>
            <vs-col offset="1" w="10" class="code">
                <div class="codebash">
                    <b class="red">curl</b> <b class="orange">-s</b> https://raw.githubusercontent.com/Ph0enixKM/Illiade/master/installer.sh | <b class="red">bash</b>
                </div>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
    #download{
        background-color: #fffdfa;
        text-align: center;
        padding: 50px 0; 

        .vs-col{
            position: relative;

            h1{
                font-family: Helvetica;
                color: #b3b3b3;
                font-size: 36pt;
            } 

            &.txt{
                margin-bottom: 20px;
                p{
                    display: inline-flex;
                    font-family: Lato;
                    font-display: fallback;
                    font-weight: 300;
                    padding-top: 30px;
                    font-size: 34px;
                }

                .linuximg{
                    width: 80px;
                    display: inline-flex;
                    position: relative;
                    top: 30px;
                }
            }

            &.btn{
                position: relative;
                margin-bottom: 60px;
                .vs-button{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    &:hover{
                        transform: translate(-50%, -15%);
                    }

                    p{
                        font-size: 24px;
                        padding: 0px 5px;
                    }
                }
            }

            &.copyandpaste{
                padding-top: 60px;
                padding-bottom: 30px;

                h1{
                    display: inline-flex;
                }
                .vs-tooltip-content{
                    display: inline-flex;
                }
                span{
                    transition: .2s;
                    color: silver;

                    &:hover{
                        letter-spacing: 3px;
                        color: black;
                    }
                }
            }

            &.code{
                .codebash{
                    background-color: #e7e7e7;
                    background: linear-gradient(180deg, #bebebe 0%, #bebebe 23%, #e7e7e7 23%, #e7e7e7 100%);
                    height: auto !important;
                    width: 60%;
                    min-width: 300px;
                    padding: 30px 20px;
                    border-radius: 12px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    overflow: auto;
                    

                    &::after{
                        content: 'bash';
                        position: absolute;
                        left: 8px;
                        top: 0px;
                        font-size: 14px;
                        color: #555;
                    }

                    .red{
                        color: rgba(255, 0, 0, 0.61) ;
                    }

                    .orange{
                        color: rgba(255, 166, 0, 0.733);
                    }
                }
            }
        }
    }
</style>


<style lang="scss" scoped>
@media (max-width:780px){

#download{
    .vs-col{

        h1{
            font-size: 26pt;
        } 

        &.txt{
            margin-bottom: 20px;
            p{
                font-size: 24px;
            }

            .linuximg{
                width: 40px;
                top: 15px;
            }
        }

        &.btn{
            margin-bottom: 50px;
            .vs-button{
                p{
                    font-size: unset;
                    padding: 0px 5px;
                }
            }
        }

        &.copyandpaste{
            padding-top: 60px;
            padding-bottom: 30px;

            h1{
                display: inline-flex;
            }
            .vs-tooltip-content{
                display: inline-flex;
            }
            span{
                transition: .2s;
                color: silver;

                &:hover{
                    letter-spacing: 3px;
                    color: black;
                }
            }
        }

        &.code{
            .codebash{

                width: 100%;

                .red{
                    color: rgba(255, 0, 0, 0.61) ;
                }

                .orange{
                    color: rgba(255, 166, 0, 0.733);
                }
            }
        }
    }
}}
</style>