<template>
    <div id="meet" class="h100">
        <vs-row>
            <vs-col offset="1" w="10" class="meet">
                <img src="/illiade.png" alt="">
                <h1>Meet "illi"</h1>
            </vs-col>
            <vs-col offset="1" w="10" class="illi_info">
                <vs-alert dark>
                    <highlight>Illiade</highlight> - usually referred as <i>illi</i> (also in terminal) - is a relatively new Code Editor for languages like <a href="/"><u>Flame</u></a>, C/C++, JavaScript, Python...
                    Keep in mind that Illiade is meant to be Flame's future IDE and is not actively updated now mainly because of the focus on <a href="/"><u>development of Flame</u></a>
                </vs-alert>
            </vs-col>
            <vs-col offset="0" w="12" class="image">
                <img src="/ss.jpg" alt="">
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
    #meet{
        text-align: center;
        padding: 60px;

        .vs-col{

            &.meet{
                padding: 60px 0 50px 0;

                img{
                    width: 150px;
                    display: inline-flex;
                    position: relative;
                    top: 40px;
                    margin-right: 15px;
                }
                h1{
                    display: inline-flex;
                    font-family: Lato;
                    font-display: fallback;
                    font-weight: 300;
                    font-size: 52pt;
                }
            }

            &.illi_info{
                .vs-alert{
                    width: 60%;
                    min-width: 300px;
                    border-radius: 12px;
                    left: 50%;
                    transform: translateX(-50%);

                    &::after{
                        width: 0;
                    }

                    highlight{
                        color: #dd0039;
                        background: linear-gradient(45deg, #dd0039, #ca00b9);
                        background-clip: text;
                    }
                }
            }

            &.image{
                padding: 60px 0;
                img{
                    border-radius: 12px;
                    box-shadow: 0 5px 20px 5px #00000055;
                    width: 700px;
                }
            }
        }
    }
</style>


<style lang="scss" scoped>
@media (max-width: 780px){
    #meet{
        .vs-col{

            &.meet{
                img{
                    width: 50px;
                    top: 10px;
                }
                h1{
                    font-size: 32pt;
                }
            }
            &.image{
                padding: 60px 0;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:425px){
    #meet{
        padding: 20px;
        .vs-col{
            &.image{
                padding: 60px 0;
                img{
                    width: 100%;
                }
            }
        }
    }
}
</style>