<template>
  <div>
    <vs-navbar shadow padding-scroll fixed center-collapsed v-model="active" >
        <template #left>
            <img class="nav_phxlogo" src="/phx-logo.png" alt="">
        </template>
        <vs-navbar-item :active="active == 'home'" to="/" id="home">
            Home
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'about'" padding-scroll="#about" to="/#about" id="about">
            About us
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'flame'" to="/flame" id="flame">
            Flame
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'illiade'" to="illiade" id="illiade">
            Illiade
        </vs-navbar-item>
        <template #right>
            <vs-button @click="activeSidebar = !activeSidebar" flat icon>
            <i class='bx bx-menu'></i>
          </vs-button>
        </template>
    </vs-navbar>
    <vs-sidebar
        flex
        v-model="active"
        :open.sync="activeSidebar"
        >
        <template #logo>
          <img class="nav_phxlogo" src="/phx-logo.png" alt="">
        </template>
        <vs-sidebar-item id="home" to="/">
          <template #icon>
            <i class='bx bx-home'></i>
          </template>
          Home
        </vs-sidebar-item>
        <vs-sidebar-item padding-scroll="#about" to="/#about" id="about">
          <template #icon>
            <i class='bx bxs-user-detail'></i>
          </template>
          About Us
        </vs-sidebar-item>
        <vs-sidebar-item to="/flame" id="flame">
          <template #icon>
            <img src="/flame.svg" style="width:20px; filter: brightness(.5);" alt="">
          </template>
          Flame
        </vs-sidebar-item>
        <vs-sidebar-item to="illiade" id="illiade">
          <template #icon>
            <img src="/illiade.png" style="width: 20px; filter: brightness(1);" alt="">
          </template>
          Illiade
        </vs-sidebar-item>
        <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item arrow>
              <template #icon>
                <i class='bx bx-group'></i>
              </template>
              Social media
            </vs-sidebar-item>
          </template>

          <vs-sidebar-item id="Facebook" href="https://www.facebook.com/Ph0enixArts/" blank>
            <template #icon>
              <i class='bx bxl-facebook' ></i>
            </template>
            Facebook
          </vs-sidebar-item>
        </vs-sidebar-group>
        <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item arrow>
              <template #icon>
                <i class='bx bx-code-alt' ></i>
              </template>
              Coding
            </vs-sidebar-item>
          </template>

          <vs-sidebar-item id="github">
            <template #icon>
              <i class='bx bxl-github' ></i>
            </template>
            Github
          </vs-sidebar-item>
        </vs-sidebar-group>
        <template #footer>
          <vs-row justify="space-between">
            <vs-avatar-group max="2">
              <vs-avatar>
                <img src="/we/makoto.jpeg" alt="">
              </vs-avatar>
              <vs-avatar>
                <img src="/we/pablo.jpg" alt="">
              </vs-avatar>
            </vs-avatar-group>
          </vs-row>
        </template>
      </vs-sidebar>
    <Nuxt />


    <vs-dialog width="550px" blur not-center v-model="alert">
      <template #header>
        <h4 class="not-margin">
          <b>Warning!</b>
        </h4>
      </template>

      <div class="con-content">
        <p>
          This website is under development and it's content will extend or change
        </p>
      </div>
    </vs-dialog>
  </div>
</template>

<script>
import cookie from '@/components/cookie.vue'

export default {
  data:() => ({
    active: 'home',
    activeSidebar: false,
    alert : true
  }),
  mounted(){
    this.$vs.setColor('primary', '#F87A02')
    const noti = this.$vs.notification({
      duration: 'none',
      content: cookie,
      clickClose: true
    })
  }
}
</script>


<style lang="scss" >
/*         Desktop        */

.vs-navbar__right .vs-button{
  display: none;
}

.vs-navbar__center{
  display: block;
}

.vs-notification{
  box-shadow: 0 0px 10px 5px #0000002a;
}

.vs-navbar-content.paddingScroll{
  background-color: #ffffff22;
  backdrop-filter: blur(15px);

  .vs-navbar__item{
    color: white;

    &.active{
      color: #F87A02;
    }
  }
}

.vs-navbar-content.paddingScrollActive {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .2);
    background-color: #ffffff;

    .vs-navbar__item{
    color: black;

    &.active{
      color: #F87A02;
    }
  }
}

.nav_phxlogo{
    width: 80px;
}

.vs-navbar__item.active{
    color: #F87A02;
}

#mmenu{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: relative;

    .line{
        position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
        height: 3px;
        background-color: black;

        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -250%;
            width: 100%;
            height: 100%;
            background-color: black;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 250%;
            width: 100%;
            height: 100%;
            background-color: black;
        }
    }
}
</style>




<style lang="scss">
/*         Mobile        */
@media (max-width: 745px){
  .vs-navbar-content{
    width: 100%;
  }
  .vs-navbar__right .vs-button{
    display: block;
  }
  .vs-navbar__center{
    display: none !important;
  }
  .vs-navbar__line{
    display: none !important;
  }
}


</style>









<style>
.con-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.con-footer .vs-button {
	margin: 0px;
}

.con-footer .vs-button .vs-button__content {
	padding: 10px 30px;
}

.con-footer .vs-button ~ .vs-button {
	margin-left: 10px;
}

.not-margin {
	margin: 0px;
	font-weight: normal;
	padding: 10px;
	padding-bottom: 0px;
}

.con-content {
	width: 100%;
}

.con-content p {
	font-size: 0.8rem;
	padding: 0px 10px;
}

.con-content .vs-checkbox-label {
	font-size: 0.8rem;
}

.con-content .vs-input-parent {
	width: 100%;
}

.con-content .vs-input-content {
	margin: 10px 0px;
	width: calc(100%);
}

.con-content .vs-input-content .vs-input {
	width: 100%;
}

.footer-dialog {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: calc(100%);
}

.footer-dialog .new {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 0.7rem;
}

.footer-dialog .new a {
	color: getColor('primary') !important;
	margin-left: 6px;
}

.footer-dialog .new a:hover {
	text-decoration: underline;
}

.footer-dialog .vs-button {
	margin: 0px;
}
</style>


<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
