<template>
    <div class="container">
       <vs-navbar shadow padding-scroll fixed center-collapsed v-model="active" >
        <template #left>
            <img class="nav_phxlogo" src="/phx-logo.png" alt="">
        </template>
        <vs-navbar-item :active="active == 'home'" to="/" id="home">
            Home
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'about'" padding-scroll="#about" to="/#about" id="about">
            About us
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'flame'" to="/flame" id="flame">
            Flame
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'illiade'" to="illiade" id="illiade">
            Illiade
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'error'" id="error">
            ERROR
        </vs-navbar-item>
        <template #right>
            <vs-button @click="activeSidebar = !activeSidebar" flat icon>
            <i class='bx bx-menu'></i>
          </vs-button>
        </template>
    </vs-navbar> 
    <vs-sidebar
        flex
        v-model="active"
        :open.sync="activeSidebar"
        >
        <template #logo>
          <img class="nav_phxlogo" src="/phx-logo.png" alt="">
        </template>
        <vs-sidebar-item id="home" to="/">
          <template #icon>
            <i class='bx bx-home'></i>
          </template>
          Home
        </vs-sidebar-item>
        <vs-sidebar-item padding-scroll="#about" to="/#about" id="about">
          <template #icon>
            <i class='bx bxs-user-detail'></i>
          </template>
          About Us
        </vs-sidebar-item>
        <vs-sidebar-item to="/flame" id="flame">
          <template #icon>
            <img src="/flame.svg" style="width:20px; filter: brightness(.5);" alt="">
          </template>
          Flame
        </vs-sidebar-item>
        <vs-sidebar-item to="illiade" id="illiade">
          <template #icon>
            <img src="/illiade.png" style="width: 20px; filter: brightness(1);" alt="">
          </template>
          Illiade
        </vs-sidebar-item>
        <vs-sidebar-item to="error" id="error">
          <template #icon>
            <i class='bx bxs-error'></i>
          </template>
          Error
        </vs-sidebar-item>
        <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item arrow>
              <template #icon>
                <i class='bx bx-group'></i>
              </template>
              Social media
            </vs-sidebar-item>
          </template>

          <vs-sidebar-item id="Facebook" href="https://www.facebook.com/Ph0enixArts/" blank>
            <template #icon>
              <i class='bx bxl-facebook' ></i>
            </template>
            Facebook
          </vs-sidebar-item>
        </vs-sidebar-group>
        <vs-sidebar-group>
          <template #header>
            <vs-sidebar-item arrow>
              <template #icon>
                <i class='bx bx-code-alt' ></i>
              </template>
              Coding
            </vs-sidebar-item>
          </template>

          <vs-sidebar-item id="github">
            <template #icon>
              <i class='bx bxl-github' ></i>
            </template>
            Github
          </vs-sidebar-item>
        </vs-sidebar-group>
        <template #footer>
          <vs-row justify="space-between">
            <vs-avatar-group max="2">
              <vs-avatar>
                <img src="/we/makoto.jpeg" alt="">
              </vs-avatar>
              <vs-avatar>
                <img src="/we/pablo.jpg" alt="">
              </vs-avatar>
            </vs-avatar-group>
          </vs-row>
        </template>
      </vs-sidebar>
        <div class="center">
            <h1 v-if="error.statusCode === 404">Page not found</h1>
            <h1 v-else>An error occurred</h1>
            <br>
            <nuxt-link to="/">
                <vs-button size='xl'>
                    Home page
                     <template #animate >
                        <i class='bx bx-home-alt bx-sm' ></i>
                    </template>
                </vs-button>
            </nuxt-link>
        </div>
    </div>
</template>

<script>

  export default {
    props: ['error'],
    data:() => ({
      active: 'error',
      activeSidebar: false,
    })
  }
</script>

<style lang="scss" scoped>
a{
    text-decoration: none;
}

.vs-navbar__right .vs-button{
  display: none;
}

.vs-navbar__center{
  display: block;
}

.vs-button{
    position: relative;
    left: 45%;
}
.center{
    height: 300px;
    position: relative;
    top: 40vh;
    text-align: center;
    align-content: center;
    align-items: center;
}

/*         Mobile        */
@media (max-width: 745px){
  .vs-navbar-content{
    width: 100%;
  }
  .vs-navbar__right .vs-button{
    display: block;
  }
  .vs-navbar__center{
    display: none !important;
  }
  .vs-navbar__line{
    display: none !important;
  }
}
</style>