<template>
    <div class="rootcontainer">
        <div class="h80 lavabg">
            <img class="flame" src="/flame.svg" alt="">
            <img class="subtitle" src="/subtitle.png" alt="">
        </div>
        <meet />
        <foter />
    </div>
</template>

<script>
import foter from '@/components/foter.vue'
import meet from '@/components/flame/meet.vue'

export default {

}
</script>

<style lang="scss">
    .lavabg{
        background-image: url('/bg/lava1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;

        .flame{
            width: 45vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(0 5px 20px #000);
        }

        .subtitle{
            width: 50vw;
            min-width: 350px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
</style>

<style lang="scss" scoped>
@media (max-width:745px){
    .lavabg{
        .flame{
            width: 35vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(0 5px 20px #000);
        }

        .subtitle{
            width: 50vw;
            min-width: 300px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
</style>





<style lang="scss">
.h100{
    min-height: 100vh;
    height: auto;
}
.h90{
    min-height: 90vh;
    height: auto;
}
.h80{
    min-height: 80vh;
    height: auto;
}
.h70{
    min-height: 70vh;
    height: auto;
}
.h60{
    min-height: 60vh;
    height: auto;
}
.h50{
    min-height: 50vh;
    height: auto;
}
.h40{
    min-height: 40vh;
    height: auto;
}
.h30{
    min-height: 30vh;
    height: auto;
}
.h20{
    min-height: 20vh;
    height: auto;
}
.h10{
    min-height: 10vh;
    height: auto;
}
</style>