<template>
    <div class="rootcontainer">
        <div id="gradientbg" class="h80">
            <div class="center">
                <h1>Illiade</h1>
                <h2>the Funky IDE</h2>
            </div>
        </div>
        <downl />
        <meetilli />
        <foter />
    </div>
</template>

<script>
import downl from '@/components/illiade/downl.vue'
import meetilli from '@/components/illiade/meetilli.vue'
import foter from '@/components/foter.vue'

export default {
    
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

    #gradientbg{
        background-color: #ca00b9;
        background: linear-gradient(45deg, #dd0039, #ca00b9);
        position: relative;

        .center{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;

            h1{
                font-size: 175px;
                font-weight: 400;
                font-family: Lato;
            }
            h2{
                font-size: 72px;
                font-weight: 300;
                font-family: Lato;
            }

        }
    }
</style>

<style lang="scss" scoped>
@media (max-width: 745px){
    #gradientbg{
        .center{
            h1{
                font-size: 125px;
            }
            h2{
                font-size: 54px;
            }
        }
    }
}
@media (max-width:425px){
    #gradientbg{
        .center{
            h1{
                font-size: 100px;
            }
            h2{
                font-size: 43px;
            }
        }
    }
}
</style>






<style>
.h100{
    min-height: 100vh;
    height: auto;
}
.h90{
    min-height: 90vh;
    height: auto;
}
.h80{
    min-height: 80vh;
    height: auto;
}
.h70{
    min-height: 70vh;
    height: auto;
}
.h60{
    min-height: 60vh;
    height: auto;
}
.h50{
    min-height: 50vh;
    height: auto;
}
.h40{
    min-height: 40vh;
    height: auto;
}
.h30{
    min-height: 30vh;
    height: auto;
}
.h20{
    min-height: 20vh;
    height: auto;
}
.h10{
    min-height: 10vh;
    height: auto;
}
</style>

