<template>
  <div class="rootcontainer">
    <div class="h80 laptopbg">
      <img class="phxsvg" src="phx.svg" alt="">
    </div>
    <about />
    <foter />
  </div>
</template>

<script>
import foter from '@/components/foter.vue'
import about from '@/components/index/about.vue'

export default {
  components: {
    foter,
    about
  }
}
</script>

<style lang='scss'>

  .h100{
    height: 100vh;
  }
  .h90{
    height: 90vh;
  }
  .h80{
    height: 80vh;
  }
  .h70{
    height: 70vh;
  }
  .h60{
    height: 60vh;
  }
  .h50{
    height: 50vh;
  }
  .h40{
    height: 40vh;
  }
  .h30{
    height: 30vh;
  }
  .h20{
    height: 20vh;
  }
  .h10{
    height: 10vh;
  }

  .vs-navbar__line{
      background: #F87A02;
  }

  .laptopbg{
    background: url('/bg/laptop.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    position: relative;
  }

  .phxsvg{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
  }

</style>

<style lang="scss">
@media (max-width: 745px){
  .phxsvg{
    width: 100%;
  }
}
</style>